:root{
    --primary-color: #171c28;
    --secondary-color:#55198B;
    --main-name-color:#2dc7ff;
    --primary-font-size:20px;
    --text-font-size:20px;
    --side-heading-font-size:50px;
    --brand-color:white;
    --body-inner-ppading:5px;
    --hover-button-color:#973aa8;
}

body{
    background-color: var(--primary-color) !important;
    font-size: var(--primary-font-size) !important; 
    padding: var(--body-inner-ppading)!important;
    font-family: 'Montserrat', sans-serif;
    font-weight:lighter !important;
}

.navbar
{
    margin-top:10px;
}
.navbar-brand
{
    color: var(--brand-color) !important;
    font-size: 25px !important;
    font-weight: bold !important;
}
.nav-link
{
    color:white !important
}

.nav-item:hover
{
    background-color:var(--secondary-color)
}

#about-me
{
    margin-top:30px;
    overflow: hidden;
}

#about-me .memoji {
    display: flex;
    flex-direction: column;   /* Stack the content vertically */
    align-items: center;      /* Horizontal centering */
    justify-content: center;  /* Vertical centering */
    height: 100%;             /* Ensures full height for proper centering */
    text-align: center;       /* For smaller content like text or icons */
    margin-bottom:15px;
}

#about-me .memoji img
{
    height:450px;
}
  
.intro .name
{
    font-size: 55px;
    font-weight:bold;
    color:var(--main-name-color)
}

.intro .breif
{
    font-size: var(--text-font-size);
    color:white !important;
    line-height:35px;
}

.btn-primary{
  background-color: var(--secondary-color) !important;
  color:white !important;
  font-size:var(--text-font-size) !important;
  border-color:transparent !important;
  padding:10px !important;
  text-align: center !important;
  width:150px !important;
}

.btn-primary:hover
{
    background-color:var(--hover-button-color) !important;
}

#downloadresume
{
    margin-right: 20px !important;
}

.media-icons
{
    display:flex;
    align-items: center;      /* Horizontal centering */
    justify-content: center;  /* Vertical centering */    
}

.media-icons a{
    margin-right: 20px;
}

.fa-github
{
    color:white;
}

.fa-instagram
{
    color:#ff006e;
}
.fa-envelope
{
    color:#f8961e;
}
.fa-linkedin:hover{
    color:grey;
}
.fa-github:hover
{
    color:grey;
}
.fa-instagram:hover
{
    color:grey;
}
.fa-envelope:hover
{
    color:grey;
}
.side-heading
{
    font-size:var(--side-heading-font-size);
    color:white;
    text-align: left !important;
}
.inner-side-heading{
    color:white;
    text-align: left !important;
    font-weight:bolder !important;
}
.inner-content-list
{
    text-align:justify;
}
#experience
{
    margin-top: 100px;
    text-align: center;
    justify-content: center;
    align-items:center;
}
#ivy-header
{
    background-color:#457b9d;
}
.company
{
    font-size:25px;
    color:white;
    font-weight:bolder !important;
}
.company-logo
{
    width:200px;
}
.location
{
    font-size:20px;
    color:white;
}

#hcl-header .location{
    color:black !important;
}
.card-body
{
    background-color: var(--primary-color);
    color:white !important;
}
.role,.duration
{
    font-weight:bolder !important;
}
#unh-header
{
    background-color: #e4b61a !important;
}

#hcl-header .company{
    color:black;
}

#skills, #projects
{
    margin-top: 100px;
}

.skill-icon
{
    color:#2a9d8f;
}
.skill-icon p{
    color:white;
}
#projects .card-body
{
    background-color: #ced4da !important;
    color:black !important;
    border-color:var(--primary-color);
}
.card-footer
{
    background-color:var(--primary-color) !important;
    color:white !important;
    border-color:white !important;
}

.card-footer a
{
    color:white !important;
}

#projects .card-footer a:hover
{
    color:black;
    background-color:lightgrey
}

#education .card-header
{
    display: flex;
    flex-direction: column; 
    align-items: center;  /* Vertically centers the contents */
    justify-content: center;  /* Horizontally centers the contents */
    background-color: #f2e9e4 !important;
}
#education-unh-logo
{
    width:100px;
}

#education .card-body {
    max-height: 300px; /* Adjust to desired height */
    overflow-y: auto;
  }

#achievements .media-body
{
    color:white;
}

#achievements .text-muted
{
  color:white !important;
  text-align:justify !important;
}